body {
    background-color: #4a4e52;
}

h1 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

h2 {
    color: rgb(231, 130, 130);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    text-align: center;
}

p {
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

div {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    width: 100%;
}

.top {
    text-align: center;
    background-color: #1a4425;

}

.top img {
    height: 100%;
    width: auto;
}

.päisenupp {
    background-color: #185e2a;
    color: white;
    float: left;
    border: 3px black;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.päisenupp:hover {
    background-color: #1a4425;
}

.rida {
    display: flex;
}

.tulp {
    flex: 50%;
}

.tulp p {
    text-align: center;
}

ol {
    display: inline-block;
    text-align: left;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: stretch;
}

li {
    float: left;
    
}

nav ul li {
    width: 100%;
}

/*Vaheleht 2 asjad*/
.vl2img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 3px 10px rgba(0,0,0,0.6);
}
.gallery {
    float: left;
    width: 15%;
    padding-left: 8.33%;
    padding-right: 8.33%
}
.desc {
    font-size: 280%;
    color: aliceblue;
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.4px;
    position:relative;
    text-align: center;
    left:14%;   
}
.vl2img:hover {
    transition-duration: 0.3s;
    filter: brightness(65%);
}   


/*Galerii asjad*/

.ulemgalerii {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.galerii {
    margin: 5px;
    border: 1px solid black;
    float: left; 
    width: calc(33% - 10px);
    display: flex;
    flex-direction: column;
}

div.galerii:hover {
    border: 1px solid white;
}

div.galerii img{
    width: 100%;
    height: auto;
}

div.kirjeldus {
    padding: 15px;
    text-align: center;
}