html{
    background-image: url("https://wallpaper-house.com/data/out/4/wallpaper2you_31419.jpg");
    background-size: cover;
}
h1{
    color:rgb(26, 24, 24);
}
h2{
    color: red;
    font-size: 40px;
    
}
h3{
    color: Blue;
    font-size: 40px;
}
h4{
    color: green;
    font-size: 40px;